- @posts.each do |post|
  %p
    %hr 
    %div
      Username: 
      = post.trackable_user.name
      %br
      = post.text
    %div
      Likes: 
      = post.likes
    %div
      Created at:
      = post.created_at
    %p
      = link_to "Show", post_url(post.id)