%h1 Post
%p
  Username: 
  = @post.trackable_user.name
  %div
  Tweet 
  %br
  = @post.text
  %div
  Likes: 
  = @post.likes
  %div
  Created at:
  = @post.created_at
- if @post.comments.count > 0
  %h1 Comments
  = render partial: 'comments', locals: { comments: @post.comments }